/HelpFile101/bin/Debug
/INotifyPropertyChanged/INotifyPropertyChanged101/INotifyPropertyChanged101/bin/Debug
/OpenWebpage/OpenWebpage/bin/Debug
/INotifyPropertyChanged/INotifyPropertyChanged101/INotifyPropertyChanged101/obj/Debug
/OpenWebpage/OpenWebpage/obj/Debug
/HelpFile101/obj/Debug
/MVVMIntro/MVVMIntro/bin/Debug
